---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Pedro Besse" description="About Pedro Besse">
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h1 class="section-title">About Me</h1>
				<div class="content">
					<p>I am a passionate computer science student currently in my second year of a Bachelor's in Technology (BUT) in Computer Science. My enthusiasm for technology and innovation drives me to continually expand my knowledge and skills in this ever-evolving field.</p>
					<p>In addition to my academic pursuits, I am an avid cyclist and enjoy the thrill of exploring new trails and challenging myself physically. Cycling provides me with a perfect balance to my studies, offering a way to stay fit and clear my mind.</p>
					<p>I also have a keen interest in table tennis. Playing ping pong is not only a fun recreational activity for me but also a great way to improve my reflexes and strategic thinking, both of which are valuable in my studies and future career in computer science.</p>
					<p>Having completed my high school diploma (baccalauréat), I am now focused on excelling in my current studies and looking forward to the exciting opportunities and challenges that lie ahead in the world of computer science.</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem; /* Augmentez l'espacement entre les éléments */
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
		font-size: 1.125rem; /* Augmentez légèrement la taille de la police */
		line-height: 1.75rem; /* Améliorez la lisibilité en augmentant la hauteur de ligne */
		color: var(--gray-300); /* Utilisez une couleur plus claire pour les paragraphes */
	}

	.content p {
		margin-bottom: 1.5rem; /* Ajoutez de l'espacement entre les paragraphes */
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
